.accordion {
    .accordion-title {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        border-bottom: 1px solid $transparentGray3;
    }
    .accordion-list {
        height: 0;
        margin-left: 10px;
        overflow: hidden;
        transition: height 1.5s;
       &.show {
        transition: height 1.5s;
       }
    }
    .accordion-panel {
        height: 20px;
        text-transform: capitalize;
        cursor: pointer;
        p {
            width: 100px;
            position: relative;
            left: 20px;
            bottom: 3px;
        }
    }

    .control {
        height: 25px;
    }

}

