$white: #fffffe;
$primary-text: #ffffff;
$secondary: #ebe9eb;
$secondary-text: #514e4e;
$highlight: #77a464;
$content-bg: #fff;
$subtext: rgba(210, 204, 204, 0.67);
$pink: #faf5f1;
$background: #f5f6f8;
$green: #e5f3eb;

$hotPink: #F757B7;
$brightBlue: #56DCE3;
$brightPurple: #9B42CB;
$brightYellow: #F8E857;

$transparentGray: rgba(0, 0, 0, 0.07);
$transparentGray2: rgba(0, 0, 0, 0.35);
$transparentGray3: #cfc9c92b;
$gray: #363636;
$light-blue: #ecf6f6;
$primary: #77a464;
$link: rgba(16, 16, 16, 0.81);
$info: #1765a4;
$warning: #8a17a4;
$danger: #17a43f;
$dark: #520b51;
$text: #000000e6;