/* eslint-disable */

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

body {
  background: $background ;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.title.is-4 {
  font-weight: 400;
}

.svg {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-eye {
  width: 54px;
  height: 54px;
  background-image: url('./assets/icon/eye.svg');
}


.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked+label {
    background-image: url("https://img.icons8.com/external-becris-lineal-becris/24/000000/external-check-mintab-for-ios-becris-lineal-becris-1.png");
    background-size: 16px;
    border-color: transparent;
    background-position: center;
    border-color: transparent;
    opacity: 1;
  }
}

label {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $subtext;
  border-radius: 10px;
  &:hover {
    border: 1px solid $secondary-text;
    cursor: pointer;
  }

}

.panels {
  border-top: 1px solid $subtext;
}

.single-panels {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid $subtext;
  .main-img {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
  }
}

.sliderItems {
  .itemTile {
    .bg-green {
      position: absolute;
    }
    a:first-child {
      height: 100%;
      margin-top: 0;
    }

    .img-box {
      width: 100%;
      .img {
        width: 100%;
      }
  
    }

    h4 {
      margin-top: 0;
      position: relative;
      bottom: 40px;
      color: $white;
    }
    h4::first-letter {
      text-transform:capitalize;
    }

    &:hover {
      transform: none;

      .img-box {
        .img {
          transform: scale(1.2);
          transition: .4s;
        }
      }
    }
  }
}

.itemTile {
  width: 300px;
  height: 350px;
  min-height: 300px;
  margin: 10px;
  border-radius: 20px !important;
  background-color: $white;
  transition: .4s;
  a:first-child {
    display: block;
    width: 100%;
    height: 70%;
    margin-top: 10px;
  }

  h4 {
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
    z-index: 1;
    color: $gray;
  }
  .bg-green, .img {
    width: 100%;
    height: 100%;

  }

  .img-box {
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    &:hover {
      .img{
        transform: scale(1.2);
        transition: .4s;
      }
    }
    .img {
      transition: .4s;
    }


    .gray-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: .4s;
      .svg {
        opacity: 0;
        margin: 0 auto;
        position: relative;
        top: calc(50% - 27px);
        transition: .4s;
      }
      
      &:hover {
        background-color: $transparentGray2;
        transition: .4s;

        &

        .svg {
          opacity: 1;
          transition: .4s;
        }
      }

    }
  }

  .ready {
    position: absolute;
    top: 85%;
    left: 5%;
    color: $white;
    font-size: 13px;
    i {
      margin-right: 5px;
    }
  }

  
  &:hover {
    transition: .4s;
    transform: translate(0px, -10px);
  }
}





.widget {
  width: 100%;
  padding: 20px;
  background-color: $pink;
  font-size: 20px;
  border-radius: 10px;
  .title-widget {
    border-bottom: 1px dashed $subtext;
    padding-bottom: 20px;
    margin-bottom: 20px;
    img {
      margin-right: 15px;
    }
  }
}

.features-couisine-clock {
  margin: 20px 0;
  padding: 10px 0;
  color: rgba(0,0,0,0.4);
  font-weight: 400;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);;
}

.features-block {
  div {
    margin-right: 10px;
  }
  img {
    margin: 0 2px;
  }
}


@media (max-width: 1024px) {

}

@media (max-width: 1070px) {
  .recipe .block:nth-child(1) {
    width: 50%;
  }
}

@media (max-width: 1170px) {
  .similarRecipes {
    .itemTile {
      width: 100%;
    }
  }
}

@media (max-width: 670px) {
  .randomRecipes  {
    .itemTile {
      width: 80%;
    }
  }
}


