.steps {
    margin-top: 20px;
    .title {
      text-decoration: underline;
    }
    .step {
      line-height: 1.7;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
    
      .text {
        width: 350px;
        margin-left: 40px;
  
        &.done {
          position: relative;
          height: 100px;
          overflow: hidden;
  
          div {
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(0deg, #f5f6f8 0%, #f5f6f899 55%, #f5f6f800 100%);
            background-repeat: repeat-x;
          }
        };
      }
    
}